elementsw_username = "admin"

elementsw_password = "admin"

elementsw_cluster = "192.168.1.30"

elementsw_api_version = "10.3"

volume_name = "testVol"

volume_size_list = [
    "107374182400",
    "107374182400",
    "107374182400",
    "107374182400"
]
